:root{
    --extra-pad: 3rem; --h1-size: clamp(2rem, 5vw, 3rem); --h2-size: clamp(1.75rem, 4vw, 2.25rem); --h3-size: clamp(1.25rem, 3vw, 1.75rem); --p-size: clamp(1rem, 0.95rem + 0.25vw, 1.25rem); --margin-sizes: clamp(16px, 5vw, 60px); --prevent-margin-stretch: 1200px; 
}

h1{font-size: var(--h1-size);}
h2{font-size: var(--h2-size);}
h3{font-size: var(--h3-size);}
p{font-size: var(--p-size);}

html{
    scroll-behavior: smooth;
}
.hidden{
    opacity: 0;
    transform: translateY(40px);
    transition: all 0.8s ease;
}
.show{
    opacity: 1;
    transform: translateY(0px);
    transition: all 0.8s ease;
}

/* TOGGLE BUTTON */
.dark{background-color: #000000;color: #ffffff;}
.corner-nav-btn{
    background-color: #527af200;
    border: 2px solid #527af267;
    border-radius: 20px;
    color: #f1f1f1;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1rem;
    transition: all 0.3s ease;
    width: 100px;
    height: 40px;
}


.mode{
    font-size: 0.8rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* MAIN BODY */
/* body{ font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif} */

/* @media screen and (1536px <= width <= 1920px ) {
    button:hover{
    background-color: #527af2;
    color: white;
    transition: all 0.3s ease;
}

    #home{height: 100vh; display: grid;}
    .corner-btn{
        position: fixed;
        bottom: 20px;
        right: 20px;
        z-index: 1000;
    }
    .theme-btn{
        position: fixed;
        bottom: 20px;
        left: 20px;
        z-index: 1000;
    }

    .title{display: flex;flex-direction: column;justify-content: center;align-items: center;} */
    



    /* NAVBAR */
    
    /* .nav-bar{display: flex; align-items: center; justify-content: space-around;padding: 0;}
    nav ul{list-style: none;display: flex;gap: 3.5rem;justify-content: flex-end; align-items: center;}
    a{color: rgb(0, 0, 0); text-decoration: none; font-weight: bold;}
    a:hover{ text-decoration: line-through; color: #527AF2;}
    li{font-size: 1.3rem;}
    .nav-title{font-size: 2rem;}
    .nav-btn{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50px;
    } */
    /* .nav-title{
        animation: rainbow 3s linear infinite alternate;
        z-index: 1;
    } */

    /* HERO SECT */
    /* #DFF24B #0D0D0D #59F22E #527AF2 #F2F2F2 */
    /* .hero-container{display: flex; flex-direction: column;justify-content: center; align-items: center; text-align: center; height: 98%; }
    .hero{display: flex;justify-content: center; align-items: center; gap: 60px;}
    .profile-image{border-radius: 50% ; height: 370px; border: solid #000000 3.5px; }
    .hero-title{display: flex; flex-direction: column;justify-content: center; align-items: center; gap:30px; text-align: center;}
    sub{font-size: 2rem;}
    
    .green{color: #59F22E;}
    .blue{color:#527AF2 ;}
    .hero-btn{
        background-color: #00000000;
        border: 2px solid #527af2;
        border-radius: 30px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
        color: #000000;
        padding: 10px 20px;
        cursor: pointer;
        font-size: 1rem;
        transition: all 0.3s ease;
        width: 150px;
        height: 50px;
    }
    
    .hero-btn:hover{transform: translateY(-5px);}
    .hero-btn:last-child{border-color: black; background-color: #1a1a1ac6;
        color: white;}
    .hero-btn:last-child:hover{background-color: #000000;}
    .links{display: flex; gap: 25px;}
    .nav-icons{height: 45px;width: 45px;} */

    /* MAIN SECTION */


    /* ABOUT */

    /* #about{height: 100vh;}
    
    .abt-content{display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 20px;
    } */
    /* .secondary-img{
        height: 400px; border-radius: 20px; width: 350px;
    } */
    
/* 
    .quotes{margin: 0 50px; display: flex; flex-direction: column; gap: 17px;}
    .quote-boxes{display: flex; gap: 30px;justify-content: center;align-items: center; }
    .boxes{border: solid rgba(0, 0, 0, 0.27) 2px; border-radius: 20px;text-align: center;flex: 1 1 0;box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);}
    .section-pad{padding: 20px;}
    .title-container{display: flex;
    justify-content: center;}
    .extra-pad{padding: var(--extra-pad);} */
    /* .sub{line-height: 1.5rem;} */
    
    /* .para2{grid-column: 3 / 5; grid-row: 3;}
    .para3{grid-column: 2 / 5; grid-row: 4;}
    .para4{grid-column: 3 / 5; grid-row: 5;}
    .para5{grid-column: 2 / 4; grid-row: 6; text-align: center;}
    .para6{grid-column: 2 / 5; grid-row: 7; text-align: center;} */

    /* .waves span{
        display: inline-block;
        animation: slide .5s ease-in-out;
    } */

    /* .wavesAlt span:nth-child(1) {
        animation-delay: 1s;
    } */

    /* EXPERIENCE */
    /* #experience{
        height: 100vh; 
        display: flex;
        flex-direction: column;
        justify-content: stretch;
        max-width: var(--prevent-margin-stretch)
        
    } */
    
    .rain span{ 
        display: inline-block;
        animation: bounce 1s ease-in-out infinite alternate,
                rainbow 3s linear infinite;
    }
    .rain span:nth-child(1) {
        animation-delay: 0s;
    }
    .rain span:nth-child(2) {
        animation-delay: 0.1s;
    }
    .rain span:nth-child(3) {
        animation-delay: 0.2s;
    }
    /* .content{width: 100%;}
    .experience-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 30px;
        height: auto;
        
        margin-inline: var(--margin-sizes);
        
    }

    .cards-container{
        display: flex;
        justify-content: center;
        gap: 20px;
        width: 100%;
    }
    
    .cards{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex: 1;
        padding: 10px 0;
        border-radius: 20px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
        
    }
    .card{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex: 1;
    }
    .card-title h3{
        font-size: 1.7rem;
        letter-spacing: 2px;
        font-weight:normal ;
    } */

    /* .wrap{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 20px;
    } */
    /* .column{display: flex;flex-direction: column;justify-content: center;align-items: left;}

    .row{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex: 1;
        gap: 7rem;
        
    }
    .row ul{
        list-style-type: circle;
        align-self: start;
    }
    
    b {
        font-size: 1.3rem;
    } */

    /* .card:hover{
        transform: translate(10px, -10px);
        box-shadow: none;
        transition: all 0.3s ease;
    } */



    /* PROJECTS */

    /* #projects{
        height: 100vh; display: flex;justify-content: flex-start;flex-direction: column;align-items: center; 
    }
    
    #projects .title{padding: 30px 0 25px 0;}
    .project-container{height: 100%; width: 100%;}
    .project-slides{display: flex;padding: 0px 10rem;justify-content: center;gap: 30px; height: 100%;}
    .info{box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);border-radius: 20px;align-items: flex-start;padding: 20px 12px;display: flex;flex-direction: column;background-color: rgb(21, 24, 66); color: rgb(255, 255, 255);}
    .info h4{margin: 0;padding: 10px 0;font-size: 1.5rem;}
    .info p {padding: 0;margin: 0 0 25px 0;}
    .info img {width: 100%;border-radius: 10px;}
    .info:hover{transform: translateY(-2px);}
    
    .tech-stack{display: flex; gap: 7px;}
    .tech-stack p{border: solid 1px; padding: 2.9px; border-radius: 5px; font-size: 14px;}
    .view-study{align-self: center; padding-top: 15px;}
    .case-study{padding: 8px 15px;border-radius: 8px; background-color:#537bf4; color: #ffffff; cursor: pointer;box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);}
    .case-study:hover{background-color: #1c54ff;}

    #contact{height: 100vh; display: grid;}
    .contact-holder{display: flex ; flex-direction: column; justify-content: center;align-items: center;}
    
    .contact-info-holder{border: solid black 1px; border-radius: 20px; margin-top: 30px;}
    
    .contact-info{display: flex; gap: 20px; padding: 10px;}

    .foot-holder{height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;}
    .foot{display: flex;justify-content: center;}

    .flex-container{height: 100%;
        display: flex;
        align-content: center;
        flex-direction: column;
        justify-content: center;
        align-items: center;}
    .flex-holder-container{height: 100%}
} */

.bg-img-juz{
    position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
}
.bg-img-juz::before{
    content: "";
  position: absolute;
  top: 0; 
  left: 0;
  width: 100%; 
  height: 100%;
  background-image: url('./assets/images/juuzu.jpg');
  background-size: cover;
  background-position: center;
}


/* MEDIA QUERIES */

@keyframes bounce {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-2px); 
    }
}
@keyframes rainbow{
    0%{color: #DFF24B;}
    20%{color: #5882ff;}
    40%{color: #59F22E;}
    60%{color: #FF6B6B;}
    80%{color: #FFD93D;}
    100%{color: #6BCB77;}
}
@keyframes slide{
    0%{transform: translateX(-500px);}
    25%{transform: translateX(500px);}
    50%{transform: translateX(500px);}
    75%{transform: translateX(-500px);}
    100%{transform: translateX(0px);}
}



/* _____________COMIC SPEECH BUBBLES_______________________ */

.speech-bubble{
  --arrow-w:0.5em;
  --arrow-h:1em;
  --bubble-corners:0;
  --w:12em;
  --border-size:3px;
  --text-color:rgb(255, 255, 255);
  --bubble-color:rgb(20, 20, 20);
  --border-color:black;
}
.speech-bubble{
  text-align:center;
  font-family:cursive;
  font-size:20px;
  font-weight:bold;
  color:var(--text-color);
  background:var(--bubble-color);
  padding:.5rem;
  position:relative;
  border-radius:var(--bubble-corners);
  max-width:var(--w);
  box-shadow:0 0 0 var(--border-size) var(--border-color);
}

.speech-bubble.round{
  --bubble-corners:1em;
}

.speech-bubble.circle{
  --bubble-corners:100%;
  padding:2em;
}

.speech-bubble:before,.speech-bubble:after{
  content:"";
  position:absolute;
  bottom:calc(-1 * var(--arrow-h) * 2 + 0.5px);
  left:50%;
  border-style:solid;
  border-width:var(--arrow-h) var(--arrow-w);
  border-color:var(--bubble-color) transparent transparent;
}

.speech-bubble:before{
  border-width:calc(var(--arrow-h) + var(--border-size)) calc(var(--arrow-w) + var(--border-size));
  border-color:var(--border-color) transparent transparent;
  bottom:calc(-1 * var(--arrow-h) * 2 - 2.5*var(--border-size)); 
  left:calc(50% - var(--border-size));
}

.speech-bubble.t:after{
  border-color:transparent transparent var(--bubble-color);
  bottom:auto;
  top:calc(-1 * var(--arrow-h) * 2 + 0.5px);
}

.speech-bubble.t:before{
  border-width:calc(var(--arrow-h) + var(--border-size)) calc(var(--arrow-w) + var(--border-size));
  border-color:transparent transparent var(--border-color);
  bottom:auto;
  top:calc(-1 * var(--arrow-h) * 2 - 2.5*var(--border-size)); 
}

.speech-bubble.l:after{
  border-color:transparent var(--bubble-color) transparent transparent;
  bottom:auto;
  border-width:var(--arrow-w) var(--arrow-h);
  top:calc(50% - var(--arrow-w));
  left:calc(-1 * var(--arrow-h) * 2 + 0.5px);
}

.speech-bubble.l:before{
  border-width:calc(var(--arrow-w) + var(--border-size)) calc(var(--arrow-h) + var(--border-size));
  border-color:transparent var(--border-color) transparent transparent;
  bottom:auto;  
  top:calc(50% - var(--arrow-w) - var(--border-size));
  left:calc(-1 * var(--arrow-h) * 2 - 2.5*var(--border-size)); 
}

.speech-bubble.r:after{
  border-color:transparent transparent transparent var(--bubble-color);
  bottom:auto;
  left:auto;
  border-width:var(--arrow-w) var(--arrow-h);
  top:calc(50% - var(--arrow-w));
  right:calc(-1 * var(--arrow-h) * 2 + 0.5px);
}

.speech-bubble.r:before{
  border-width:calc(var(--arrow-w) + var(--border-size)) calc(var(--arrow-h) + var(--border-size));
  border-color:transparent transparent transparent var(--border-color);
  bottom:auto;
  left:auto;
  top:calc(50% - var(--arrow-w) - var(--border-size));
  right:calc(-1 * var(--arrow-h) * 2 - 2.5*var(--border-size)); 
}

.speech-bubble.pop{
  animation-name: pop;
  animation-duration: 0.5s;
  animation-timing-function:cubic-bezier(0.755, 0.050, 0.855, 0.060);
}

.speech-bubble.float{
  animation-name: float-up;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function:ease;
}

.speech-bubble.r.float{
  animation-name: float-left;
}

.speech-bubble.l.float{
  animation-name: float-right;
}

.speech-bubble.t.float{
  animation-name: float-down;
}

.bubble {
    position: relative;
    background: #000000;
    color: #FFFFFF;
    font-family: Arial;
    font-size: 20px;
    
    filter: drop-shadow(9px 11px 1px #1c1c1c5e);
    text-align: center;
    width: 325px;
    height: auto;
    border-radius: 23px;
    padding: 4px;
}
.bubble:after {
    content: '';
    position: absolute;
    display: block;
    width: 0;
    z-index: 1;
    border-style: solid;
    border-width: 29px 60px 0 0;
    border-color: #000000 transparent transparent transparent;
    top: 58%;
    right: -60px;
    margin-top: -14.5px;
}

@keyframes pop {
  0% {transform: scale(0.8);}
  80% {transform: scale(1.1);}
  90% {transform: scale(0.9);}
  100% {transform: scale(1);}
}

@keyframes float-up {
  0% {transform: translateY(0);}
  50% {transform: translateY(calc(-1 * var(--arrow-h)));}
}

@keyframes float-left {
  0% {transform: translateX(0);}
  50% {transform: translateX(calc(-1 * var(--arrow-h)));}
}

@keyframes float-right {
  0% {transform: translateX(0);}
  50% {transform: translateX(var(--arrow-h));}
}

@keyframes float-down {
  0% {transform: translateY(0);}
  50% {transform: translateY(var(--arrow-h));}
}

